@page
@using IEnsure.Models

@model CountryModel
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<div class="container">
    <h3>Add Country</h3>
    <hr />
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Country.Name"></label>
                <input asp-for="Country.Name" class="form-control" />
                <span class="alert-danger" asp-validation-for="Country.Name"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Country.Code"></label>
                <input asp-for="Country.Code" class="form-control" />
                <span class="alert-danger" asp-validation-for="Country.Code"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Country.Description"></label>
                <input asp-for="Country.Description" class="form-control" />
                <span class="alert-danger" asp-validation-for="Country.Description"></span>
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="/allCountry">Cancel</a>
    </form>
</div>  